# Ignore compiled Python files
*.pyc

# Ignore Django's migrations
**/migrations/

# Ignore the virtual environment directory
venv/

# Ignore static files directory
static/

# Ignore media files directory
media/

# Ignore the local settings file
settings_local.py

# Ignore any log files
*.log

# Ignore any database files
*.sqlite3

# Ignore any cache files
__pycache__/

# Ignore any IDE files
.vscode/
.idea/
